.rodape {
    color: #FFF;
    font-size: 12px;
    text-align: center;
}

.rodape-mensagem {
    margin-top: 188px; /* enquanto o campo nao desce */
}

.rodape-texto {
    opacity: 0.3;
}

.rodape-container-logo {}

.rodape-marca {
    display: flex;
    flex-direction: row;
    margin-left: 71px;
    padding: 36px 0px 0px 36px;
}

.rodape-texto1 {
    font-family: Inter;
    font-size: 9px;
    margin: 2px 7px 0px 0px;
}

.rodape-site {
    width: 100px;
    height: 14px; 
    background-image: url('/public/imagem/Grupo38.png');
    background-repeat: no-repeat;
    color: #FFFFFF;
}



@media screen and (min-width: 768px) {
    .rodape-site {
        background-image: url('/public/imagem/Grupo38.png');
        background-repeat: no-repeat;
        max-width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .rodape-site {
        background-image: url('/public/imagem/Grupo38.png');
        background-repeat: no-repeat;
        max-width: 100%;
    }
}
