.botao {
    width: 193px;
    height: 56px;
    border-radius: 50px;
    background-color: #1B1F1C;
    text-align: center;
    margin: 38px 0px 0px 91px;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 0.5px;
}

.botao-verde {
    background-color: #00EC5B;
    color: #101213;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 185px;
    height: 56px;
    margin: 0px 0px -34px 0px;
    margin-left: 12px;
}

.botao-experimentar {
    font-weight: 800;
    line-height: normal;
    margin: 42px 0px -2px 0px;
}