.produto-section {
    width: 375px;
    margin-top: 8px;
    text-align: center;
}

.produto-titulo {
    color: #101213;
    font-family: Artigo;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.produto-paragrafo {
    color: #0E0E0E;
    font-family: Artigo;
    font-size: 16px;
    text-align: center;
    width: 253px;
    font-weight: 400;
    margin: -18px 0px 0px 59px;
}



@media screen and (min-width: 768px) {
    .produto-section {
        width: 458px;
        font-weight: 400;
        margin: auto;
        letter-spacing: 1px;
        padding-top: 16px;
    }

    .produto-texto {
        text-align: center;
    }

    .produto-paragrafo {
        color: #0E0E0E;
        font-family: Artigo;
        font-size: 16px;
        padding: 0px;
        width: 470px;
        text-align: center;
        font-weight: 400;
        margin: -11px 0px 0px 0px;
    }

    .produto-titulo {
        font-weight: 800;
        text-align: center;
    }

}



@media screen and (min-width: 1440px) {
    .produto-section {
        margin-top: 8px;
    }

    .produto-titulo {
        color: #101213;
        font-family: Artigo;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .produto-paragrafo {
        color: #0E0E0E;
        font-family: Artigo;
        font-size: 16px;
        margin: -13px 63px 12px 25px;
    }
}