.produto {
    width: 280px;
}

.produto h4 {
    color: #0E0E0E;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.produto .card {
    width: 326px;
    height: 484px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 8px 24px -4px rgba(0, 0, 0, 0.25);
}

.produto .garrafa {
    
}