.experimentar-verde {
    width: 374px;
    height: 370px;
    background-image: url('/public/imagem/375.verde.retangulo9.png');
    background-repeat: no-repeat;
    margin: 685px 0px -459px 0px;
    padding-top: 20px;
}

.experimentar-img {
    background-image: url('/public/imagem/375.lata.guarana.4.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 263px;
    margin-left: 114px;
}

.experimentar-texto {
    color: #0E0E0E;
    font-family: 'Playfair Display';
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    border: none;
    margin-bottom: -12px;
}

.experimentar-tipografia {}

