.experimentar-verde {
    width: 374px;
    height: 370px;
    background-image: url('/public/imagem/375.verde.retangulo9.png');
    background-repeat: no-repeat;
    margin: 808px 0px -459px 0px;
}


.experimentar-img {
    background-image: url('/public/imagem/375.lata.guaraná.4.png');
    background-repeat: no-repeat;
    width: 123px;
    height: 223px;
    margin: 0px 0px 0px 110px; 
    padding-top: 60px;
}

.experimentar-texto {
    color: #0E0E0E;
    font-family: Artigo;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    border: none;
    margin-top: -17px;
    margin-bottom: -18px;
}