.nav {
    display: flex;
}

.nav-logo-conecta {
    width: 134px;
    height: 51px;
    background-image: url('/public/imagem/375.banner.marca.conecta.png');
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 24px;
    margin-left: 15px;
}

.nav-ul {
    display: flex;
    text-align: center;
    gap: 26px;
    list-style: none;
    padding: 12px 0px 0px 79px;
    margin: 29px 0px 2px 56px;
}

.nav-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.nav-lata-banner-img {
    background-image: url('/public/imagem/375.header.lata.guarana1.png');
    background-repeat: no-repeat;
    max-width: 100%;
    width: 212px;
    height: 372px;
    margin-top: 18px;
}

.nav-titulo {
    font-family: Artigo;
    font-size: 38px;
    letter-spacing: 1px;
    width: 299px;
    height: 111px;
    margin-top: 5px;
}

.nav-botao {
    background-color: #00EC5B;
    color: #101213;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 327px;
    height: 56px;
    margin-top: 18px;
}

.nav-botao-texto {
    font-size: 14px;
    font-style: normal;
    padding: 4px;
    text-align: center;
}



@media screen and (min-width: 768px) {

    .nav-bar {
        padding: 14px 0px 0px 20px;
    }

    .nav {
        justify-content: space-between;
    }

    .nav-ul {
        padding: 0px 25px 0px 0px;
    }

    .nav-lata-banner-img {
        background-image: url('/public/imagem/768.lata-guarana1.png');
        background-repeat: no-repeat;
        height: 522px;
        width: 250px;
        margin-top: 0rem;
        margin-left: 19rem
    }

    .nav-logo-conecta {
        background-image: url('/public/imagem/Grupo38.png');
        background-repeat: no-repeat;
        max-width: 100%;
        width: 134px;
        height: 51px;
        padding-top: 24px;
        padding-left: 15px;
        color: #FFFFFF;
    }

    .nav-titulo {
        margin: -22rem 24rem 0rem 0rem;
        width: 316px;
        height: 111px;
        color: #FFF;   
        font-size: 48px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 1px;
    }

    .nav-botao {
        background-color: #00EC5B;
        color: #101213;
        border-radius: 50px;
        font-weight: 500;
        font-size: 14px;
        border: none;
        cursor: pointer;
        width: 188px;
        height: 56px;
        margin: -13.5rem 35rem 0rem 3rem;
    }

    .nav-botao-texto {
        font-size: 14px;
        font-style: normal;
        padding: 4px;
        text-align: center;
        color: #101213;
        font-weight: 500;
        line-height: normal;
    }

}



















@media screen and (min-width: 1440px) {

    .nav-titulo {
        margin: -23rem 46rem 0rem 0rem;
        color: #FFF;
        font-family: Artigo;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        width: 458px;
        height: 150px;
        letter-spacing: 4px;
    }

    .nav-lata-banner-img {
        background-image: url('/public/imagem/1440.header.lata.guarana1.png');
        background-repeat: no-repeat;
        height: 530px;
        width: 250px;
        margin-top: 0rem;
        margin-left: 30rem;
    }

    .nav-logo-conecta {
        background-image: url('/public/imagem/Grupo38.png');
        background-repeat: no-repeat;
    }

    .nav-botao {
        background-color: #00EC5B;
        color: #101213;
        border-radius: 50px;
        font-weight: 500;
        font-size: 14px;
        border: none;
        cursor: pointer;
        width: 188px;
        height: 56px;
        margin-right: 63rem;
        margin-top: -12.0rem;
    }
}