.nav-bar {
    text-align: center;
    margin: 16px 30px;
    top: 0px;
    left: 0px;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    list-style: none;
}

.nav-ul {
    display: flex;
    text-align: center;
    /*margin: 15px 69px;*/
    gap: 26px;
    padding: 0px 123px;
    list-style: none;
}

.nav-ul-li {
    right: 100px;
}

.nav-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.nav-lata-banner {
    margin-right: 10rem;
}

.nav-titulo {
    font-family: Artigo;
    font-size: 33px;
    line-height: 120%;
    max-width: 100%;
    padding: 0px 123px 0px 0px;
}

.nav-botao {
    background-color: #00EC5B;
    color: #101213;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin: 0px 92px 0px -35px;
    width: 327px;
    height: 56px;
}

.nav-botao-texto {
    font-size: 14px;
    font-style: normal;
    padding: 4px;
    text-align: center;
}