.formulario {
    background: #1B1F1C;
}

.formulario-titulo { 
    color: #FFF;
    font-family: Artigo;
    font-size: 41px;
    text-align: center;
    margin-top: 89px;
    padding-top: 73px;
}

.formulario-redes__sociais {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: -56px;
    margin-left: 47px;
    padding-bottom: 25px;
}

.formulario-links {
    margin: 6px 3px 0px 4px;
}

.formulario-texto {
    color: #FFF;
}

