.formulario {
    background: #1B1F1C;
    width: 375px;
    height: 960px;
}

.formulario-titulo {
    color: #FFF;
    font-family: Artigo;
    font-size: 41px;
    text-align: center;
    margin-top: 65px;
    padding-top: 73px;
}

.formulario-redes__sociais {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 24px;
    margin-left: 87px;
    padding-bottom: 25px;
}

.formulario-links {
    margin: 6px 3px 0px 4px;
}

.formulario-texto {
    color: #FFF;
}