.banner {
    text-align: center;
    margin-right: 1065px;
    /*max-width: 100%;*/
    background-color: black; /* teste de fundo */
    list-style: none;
} 

.banner img {
    max-width: 100%;
}






.banner-logo {
    margin: 16px 30px;
    top: 0px;
    left: 0px;
}

.banner ul {
    display: flex;
    top: 0px;
    width: 18px;
    height: 18px;
}

.banner-li {
    list-style: none;
    padding: 0px 16px;
}





/*
@media screen and (min-width: 768px) {
    .banner {
        background-image: url('public/imagem/768.banner.png');
        background-repeat: no-repeat;
        background-position: top;
        max-width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .banner {
        background-image: url('/public/imagem/fundo.1440.png');
        background-repeat: no-repeat;
        background-position: top;
        max-width: 100%;
    }
}
*/
