.banner {
    text-align: center;
    list-style: none;
    margin-right: 1065px; /* para colar a esquerda */
}

.banner-logo {
    position: absolute;
    margin: 16px 30px;
    top: 0px;
    left: 0px;
}

.banner ul {
    display: flex;
    top: 0px;
    width: 18px;
    height: 18px;
}

.banner-li {
    list-style: none;
    padding: 0px 16px;
}


@media (min-width: 768px) {
    .banner {
        background-image: ('/imagem/768-background-img.png');
    }
}
