.banner {
    background-image: url('/public/imagem/375.background.img.png');
    background-repeat: no-repeat;
    background-position: top;
    max-width: 100%;
    margin: -16px 0px 0px 0px; /* falta 1px pro lado, olha lá */
    text-align: center; /* centralizar o que estiver dentro desse banner, se não prestar, tira */
}




@media screen and (min-width: 768px) {
    .banner {
        background-image: url('/public/imagem/768.background.img.png');
        background-repeat: no-repeat;
        background-position: top;
        max-width: 100%;
        margin: -16px 0px 0px 0px;
        text-align: center; /* centralizar o que estiver dentro desse banner, se não prestar, tira */
    }
}

@media screen and (min-width: 1440px) {
    .banner {
        background-image: url('/public/imagem/fundo.1440.png');
        background-repeat: no-repeat;
        background-position: top;
        max-width: 100%;
        margin: -16px 0px 0px 0px;
        text-align: center; /* centralizar o que estiver dentro desse banner, se não prestar, tira */
    }
}

