.banner {
    text-align: center;
    list-style: none;
    margin-right: 1065px; /* para colar a esquerda */
}

.banner-logo {
    position: absolute;
    margin: 16px 30px;
    top: 0px;
    left: 0px;
}

.banner ul {
    display: flex;
    top: 0px;
    width: 18px;
    height: 18px;
}

.banner-li {
    list-style: none;
    padding: 0px 16px;
}

/*
@media (min-width: 768px) {
    .banner {
        background-image: url('/public/imagem/768.banner.png');
        background-repeat: no-repeat;
        background-position: center;
    /*  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/
/*        background-attachment: fixed;
        background-size: 100%; 
        display: block;   
    }
}
*/
/*
@media (min-width: 1440px) {
    .banner {
        background-image: url('/public/imagem/1440.festa.png');
        background-repeat: no-repeat;
        background-position: center;
    /*  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/
/*        background-attachment: fixed;
        background-size: 100%; 
        display: block;
    }
}
*/
