.section-divulgacao {
    width: 326px;
    margin-left: 25px;
    list-style: none;
    display: block;
    margin: 10px 0px 0px -15px;

    height: 520px;
}

.imagens-divulgacao {
    /*display: block;*/
    list-style: none;
}

.divulgacao-comentarios {}

.imagem {}

.imagem-1 {}

.imagem-2-carrossel {
    /*position: relative;*/
    display: block;
    width: 326px;
    height: 288px;
    background-color: #1B1F1C;
    color: #FFFFFF;
    margin-top: -20px;
}

.carrossel-comentarios-1 {
    text-align: center;
    padding: 75px 0px 1px 17px;
    width: 290px;
    font-size: 16px;
}

.carrossel-comentarios-2 {
    text-align: center;
    padding: 0px 0px 1px 17px;
    width: 290px;
    font-size: 16px;
}

.carrossel-comentarios-3 {
    text-align: center;
    padding: 4px 0px 1px 17px;
    width: 290px;
    font-size: 16px;
}

.imagem-3 {
    width: 327px;
    height: 288px;
    opacity: 0.9;
}

.texto-barman {
    color: #FFF;
    font-family: Artigo;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: -174px 0px 0px 71px;
    width: 326px;
    height: 288px;
    
}

/*@media screen (max-width: 1440px) {
    .imagem-1 {
        background: url('public/imagem/1440.festa.png'), lightgray 50% / cover no-repeat;
    }
} */









/*
@media (max-width: 375px) {
    .section-divulgacao {
        max-width: calc(100% - 64px);
        transform: translate(-50%, -50%);
        left: 50%;
        top: calc(50% - 82px);
        width: 327px;
        height: 520px;
    }
} */

/*
@media (max-width: 768px) {
    .section-divulgacao {
        background-image: url('public/imagem/768-banner.png');
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
        /* background-size: 100%; */
/*        display: block;
    }

}

*/