.section-divulgacao {
    width: 326px;
    margin-left: 25px;
    list-style: none;
    display: block;
    margin: 10px 0px 0px -15px;

    height: 520px;
}

.imagens-divulgacao {
    display: flex;
}

.divulgacao-comentarios {}

.imagem {}

.imagem-1 {}

.imagem-2-carrossel {
    /*position: relative;*/
    display: block;
    width: 326px;
    height: 288px;
    background-color: #1B1F1C;
    color: #FFFFFF;
    margin-top: -20px;
}

.carrossel-comentarios-1 {
    text-align: center;
    padding: 75px 0px 1px 17px;
    width: 290px;
    font-size: 16px;
}

.carrossel-comentarios-2 {
    text-align: center;
    padding: 0px 0px 1px 17px;
    width: 290px;
    font-size: 16px;
}

.carrossel-comentarios-3 {
    text-align: center;
    padding: 4px 0px 1px 17px;
    width: 290px;
    font-size: 16px;
}

.imagem-3 {
    width: 327px;
    height: 288px;
    opacity: 0.9;
}

.texto-barman {
    color: #FFF;
    font-family: Artigo;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: -174px 0px 0px 71px;
    width: 326px;
    height: 288px;

}
























@media screen and (min-width: 768px) {

    .section-divulgacao {
        width: 720px;
        max-width: 100%;
        height: 829px;
        text-align: center;
        /*margin-left: 24px;*/
        /*margin-right: 24px;*/
        display: flex;

        margin: 0px 24px 0px 24px;
    }


    .imagens-divulgacao {
        width: 720px;
        max-width: 100%;
        height: 829px;
        text-align: center;
        display: flex;
    }

    .divulgacao-comentarios {}

    .imagem {
        display: flex;
        width: 358px;
        height: 408px;
    }



/*     IMAGEM-1 TÁ QUEBRADA!!!    */



    .imagem-1 {
        width: 362px;
        height: 829px;
        /*background-image: url('public/imagem/768.festa.divulgacao.png');
        background-repeat: no-repeat;*/

        background: url('public/imagem/768.festa.divulgacao.png'), lightgray 50% / cover no-repeat;
    }





    .imagem-2-carrossel {
        /*position: relative;*/
        display: block;
        width: 326px;
        height: 288px;
        background-color: #1B1F1C;
        color: #FFFFFF;
        margin-top: -20px;
    }

    .carrossel-comentarios-1 {
        text-align: center;
        padding: 75px 0px 1px 17px;
        width: 290px;
        font-size: 16px;
    }

    .carrossel-comentarios-2 {
        text-align: center;
        padding: 0px 0px 1px 17px;
        width: 290px;
        font-size: 16px;
    }

    .carrossel-comentarios-3 {
        text-align: center;
        padding: 4px 0px 1px 17px;
        width: 290px;
        font-size: 16px;
    }

    .imagem-3 {
        width: 327px;
        height: 288px;
        opacity: 0.9;
    }

    .texto-barman {
        color: #FFF;
        font-family: Artigo;
        font-size: 26px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin: -174px 0px 0px 71px;
        width: 326px;
        height: 288px;

    }

}



























@media screen and (min-width: 1440px) {}